@page
@model IEnumerable<Test_scandiweb.Model.Product>
@{
    ViewData["Title"] = "ProductList";
}

<h2>ProductList</h2>

<table>
    <tr>
        <th>SKU</th>
        <th>Name</th>
        <th>Price</th>
        <th>Type</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
               
            </td>
        </tr>

    }
</table>

<div class="col-md-3">
    
   
</div>
